<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Math Page Upload</title>
    </head>
    <body>
        <h1>Euler</h1>
        <h2> File Upload </h2>
        <form method="POST" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            {{form.file()}}
            <h2> Name of Research Paper </h2>
            {{form.name()}}
            <h2> Summary of Research Paper </h2>
            {{form.description()}}
            <h2> Front Cover Image Link </h2>
            {{form.image_link()}}
            {{form.submit()}}
                  
      </form>
        <h2>
            Contract Address Details
        </h2>


        
    </body>
</html>